@model WebApp.Models.Dialog
@{
    Layout = null;
    ViewData["Title"] = "Dialog";
}
@using System.Net
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dialog.css"/>
</head>
<body>
<header>
    <div class="container-fluid">
            <div class="row bg-dark align-items-center">
                <div class="col-md-2 text-center text-white mb-3 mt-4">SOCIAL ME</div>
                <div class="col-md-4 mt-4 mb-3">
                    <form class="d-flex">
                        <input type="text" class="form-control" placeholder="Искать здесь...">
                        <button class="bth btn-success ml-2">Search</button>
                    </form>
                </div>
                <div class="col-md-3 d-flex offset-md-3 mt-3 text-white">
                    <a href="@Url.RouteUrl(new { controller = "Account", action = "IndexByName", username =@User.Identity.Name })" class="btn btn-light mt-2  mb-3 mr-3">HOME</a> 
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input class="btn btn-light mt-2  mb-3 mr-3" type="submit" value="Logout" />
                    </form>
                </div>
            </div>
        </div>
    <div class="block-for-messages">
        <div id="messages">
        
        </div>
    </div>
    
        
    <div class="message-text-class" id="message-text">
        <label for="message_text"></label>
        <textarea placeholder="Hi" rows="2" class="input-text" id="message_text" cols="40" name="text_of_message"></textarea>
        <button id="send-message" value="Send">Send</button>
    </div>
</header>
<div class="container-fluid">
    <footer class="page-footer bg-dark font-small blue">
        <div class="text-center text-gray-dark py-3">
            © 2020 Copyright:
        </div>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
      $.ajax({
      type:'GET',
      url:'@Url.Action("GetMessagesOfDialog", "Dialog")',
      data:{
          id: @Model.Id
      }    
    })
    .done(function (data){
                let ddl = ' ';
                $.each(data, function(index, element){
                ddl += DrawMessage(element);
                });
                console.log(ddl);
                $(ddl).insertBefore("#messages");            
    });
    })
    var DrawMessage = function(element){
        let m = ' ';
        m += '<div class="container-for-message">\n';
        m += '<div class="media-body">\n';
        m += '<div class="container">' + '<img src="';
        m += GetUser(element.ownerId).path + '"';
        m += ' class="mr-3 mt-3 rounded-circle" style="width:40px;">\n';
        m += '<h4 class="text-dark">';
        m +=  GetUser(element.ownerId).nickName;
        m +=  ' ' + '<i class="time-color"><small>' + GetTime(element.id) + '</small></i></h4></div>\n';
        m += '<div class="text-of-message">\n';
        m += '<p class="text-dark">' + element.text + '</p>\n';  
        m += '</div>\n';
        m += '</div>\n';
        m += '</div>\n';
        m += '</div>';
        return m;
    }
    var GetTime = function(messageId) {
    let t = ' ';
    $.ajax(
        {
        type: 'Get',
        url:'@Url.Action("GetSendingTimeOfMessageById", "Dialog")',
        async: false,
        data:{
            id: messageId
        }
        }
    ).done(function(time) {
     t = time; 
    });
    return t;
    }
    var GetUser = function(data){
        let u;
        $.ajax({
        type: 'Get',
        url:'@Url.Action("GetUserById", "Dialog")',
        async: false,
        data:{
            id: data
        }
        })   
        .done(function (user){
            u = user;
        });
        return u;
    };
    

         $('#send-message').on('click', function() {
            $.ajax({
              url:'@Url.Action("SaveMessage", "Dialog")',
              type:'POST',
              data: {
                  text: $('#message-text').val(),
                  id: @Model.Id
              }
            }).done(function(data) {
                 let ddl = ' ';
                     ddl += DrawMessage(data); 
            $(ddl).insertBefore("#messages");              
            })
 
        });
   
</script>

</body>
</html>