@model WebApp.Models.Dialog
@{
    Layout = null;
    ViewData["Title"] = "Dialog";
}
@using System.Net
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dialog.css"/>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
<header>
    <div class="container-fluid">
            <div class="row bg-dark align-items-center">
                <div class="col-md-2 text-center text-white mb-3 mt-4">SOCIAL ME</div>
                <div class="col-md-4 mt-4 mb-3">
                    <form class="d-flex">
                        <input type="text" class="form-control" placeholder="Искать здесь...">
                        <button class="bth btn-success ml-2">Search</button>
                    </form>
                </div>
                <div class="col-md-3 d-flex offset-md-3 mt-3 text-white">
                    <a href="@Url.RouteUrl(new { controller = "Account", action = "IndexByName", username =@User.Identity.Name })" class="btn btn-light mt-2  mb-3 mr-3">HOME</a> 
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input class="btn btn-light mt-2  mb-3 mr-3" type="submit" value="Logout" />
                    </form>
                </div>
            </div>
        </div>
<div class="container-fluid" style="width: 100%; background-image: url('@Url.Content("~/img/chat-bg.jpg")');">
    <div class="container mb-5 justify-content-center block-for-messages" width="100%">
        <div id="messages">
        
        </div>
    </div>
    
        
    <div class="message-text-class mb-3" id="message-text">
        <textarea placeholder="Hi" rows="3" class="form-control input-text" id="message_text" cols="40" name="text_of_message"></textarea>
        <button id="send-message" value="Send" class="btn btn-primary mb-5">Send</button>
    </div>
    </div>
</header>
        </div>
    <footer class="page-footer bg-dark font-small blue mt-3">
        <div class="text-center text-gray-dark py-3">
            © 2020 Copyright:
        </div>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
var name = "";
@{
    <text>
        name = "@User.Identity.Name";
        </text>
}
console.log(name);
    $(document).ready(function(){
      $.ajax({
      type:'GET',
      url:'@Url.Action("GetMessagesOfDialog", "Dialog")',
      data:{
          id: @Model.Id
      }    
    })
    .done(function (data){
               let count = 0;
                let ddl = ' ';
                $.each(data, function(index, element){
                    count++;
                    ddl += DrawMessage(element);
                });
                //console.log(ddl);
                if(count === 0){
                       ddl = '<div id="no-message" style="text-align: center; font-style: italic;">No messages yet</div>'
                }
                $(ddl).insertBefore("#messages");          
    });
    })
    var DrawMessage = function(element){
        let user = GetUser(element.ownerId);
        let m = '<div class="row mt-2 mb-2">\n';
        if (user.nickName === name){
            m += '<div class="col-6 offset-6 container-for-message" style="background: #dfe2e8; width: 50%; border-radius: 5px;">\n';
        } else {
            m += '<div class="col-6 container-for-message" style="background: white; width: 50%; border-radius: 5px;">\n';
        }    
        m += '<div class="media-body">\n';
        m += '<div class="container d-flex flex-row" style="margin-left: -14px;">' + '<img src="';
        m += user.path + '"';
        m += 'class="mr-3 mt-3 rounded-circle" style="width:40px; object-fit: cover; height: 40px;">\n';
        m += '<h4 class="text-dark mt-3">';
        m +=  user.nickName;
        m +=  ' ' + '<i class="time-color"><small>' + ConvertTimeToMessageFormat(element.sendingTime) + '</small></i></h4></div>\n';
        m += '<div class="text-of-message">\n';
        m += '<p class="text-dark">' + element.text + '</p>\n';  
        m += '</div>\n';
        m += '</div>\n';
        m += '</div>\n';
        m += '</div>\n';
        m += '</div>';
        return m;
    }

     let ConvertTimeToMessageFormat = function(time){
        let t = ' ';
        for(let i = 11; i < 16; i++){
        t += time[i];
        };
        return t;
    };

    var GetUser = function(data){
        let u;
        $.ajax({
        type: 'Get',
        url:'@Url.Action("GetUserById", "Dialog")',
        async: false,
        data:{
            id: data
        }
        })   
        .done(function (user){
            u = user;
        });
        return u;
    };
    

         $('#send-message').on('click', function() {
            $.ajax({
              url:'@Url.Action("SaveMessage", "Dialog")',
              type:'POST',
              data: {
                  text: $('#message_text').val(),
                  id: @Model.Id
              }
            }).done(function(data) {
                 $('#no-message').css('visibility', 'none');
                 let ddl = ' ';
                     ddl += DrawMessage(data); 
            $(ddl).insertBefore("#messages");          
            $('#message_text').innerText('');
            })
 
        });
   
</script>

</body>
</html>