@model WebApp.Models.User;
@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}
@using System.Net
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container-fluid">
        <div class="row bg-dark align-items-center">
            <div class="col-md-2 text-center text-white mb-3 mt-4">SOCIAL ME</div>
            <div class="col-md-4 mt-4 mb-3">
                <form class="d-flex">
                    <input type="text" class="form-control" placeholder="Искать здесь...">
                    <button class="bth btn-success ml-2">Search</button>
                </form>
            </div>
            <div class="col-md-3 d-flex offset-md-3 mt-3 text-white">
                <a href="#" class="btn btn-light mt-2  mb-3 mr-3">HOME</a>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="btn btn-light mt-2  mb-3 mr-3" type="submit" value="Logout" />
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 350px; background: linear-gradient(#7290d6, #36559c)">
        <div class="row align-items-center justify-content-center pt-4">
            <div style="width: 200px; height: 200px;">
                <img src="@Url.Content(Model.Path)" class="rounded-circle img-fluid">
            </div>
        </div>
        <div class="row align-items-center justify-content-center pt-4">
            <form asp-action="AddFile" asp-controller="Account" method="post" enctype="multipart/form-data">
             <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
             </div>
            <button id="photo" class="btn btn-primary small">Change photo</button>
            </form>
        </div>
        <div style="font-size: 26px;" class="text-dark" id="name" class="row align-items-center justify-content-center text-white pt-2">
            @User.Identity.Name
        </div>
        @{
                    if (User.Identity.Name != Model.NickName)
                    {
                        <button id="subscribe" class="btn btn-primary small">Subscribe</button>
                    }
                }
    </div>
    <div class="container-fluid" style="background-color: #35558c;">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" asp-action="Index" asp-controller="Account">POSTS</a></div>
                <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" href="#">ABOUT</a></div>
                <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" asp-action="Subscribers" asp-controller="Account">SUBSCRIBERS</a></div>
                <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" asp-action="Subscriptions" asp-controller="Account">SUBSCRIPTIONS</a></div>
                <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" href="#">PHOTOS</a></div>
            </div>
        </div>
    </div>
</header>
<div id="posts" style="display: flex; flex-direction: column; justify-content: center; color: black;">
   
</div>
    <div class="container">
        <h2 class="text-dark mt-3">Add post</h2>
            <div class="form-group">
                <label for="comment">Comment:</label>
               <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            </div>
            <button class="btn btn-primary mb-4" id="postdata">Submit</button>
    </div>
    <div class="container-fluid">
    <footer class="page-footer bg-dark font-small blue">
        <div class="text-center text-gray-dark py-3">
            © 2020 Copyright:
        </div>
    </footer>
    </div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $.ajax({
      type:'GET',
      url:'@Url.Action("GetPosts", "Account")'     
    })
    .done(function (data){
                let ddl = ' ';
                $.each(data, function(index, element){
                     ddl += '<div class="container media border p-3 text-dark">\n';
                     ddl +=  '<img src="';
                     ddl += '@Url.Content(Model.Path)"';
                     ddl += ' class="mr-3 mt-3 rounded-circle" style="width:60px;">\n';
                     ddl += '<div class="media-body">\n';
                     ddl += '<h4 class="text-dark">' + element.owner.nickName + '<small><i class="text-dark">' + element.time + '</i></small></h4>\n';
                     ddl += '<p class="text-dark">' + element.text + '</p>\n';  
                     ddl += '</div>\n';
                     ddl += '</div>\n';
                });
                console.log(ddl);
                $(ddl).insertAfter('#posts');            
    });
    });


</script>
<script>
         $('#postdata').on('click', function() {
            $.ajax({
              url:'@Url.Action("SavePost", "Account")',
              type:'POST',
              data: {
                  text: $('#comment').val()
              }
            })
            let name =  '@Model.NickName';
            let date = Date();
            let ddl = '<div class="container media border p-3 text-dark">\n';
            ddl +=  '<img src="';
            ddl += '@Url.Content(Model.Path)"';
            ddl += ' class="mr-3 mt-3 rounded-circle" style="width:60px;">\n';
            ddl += '<div class="media-body">\n';
            ddl += '<h4 class="text-dark">' + name + '<small><i class="text-dark">' + date + '</i></small></h4>\n';
            ddl += '<p class="text-dark">' + $('#comment').val() + '</p>\n';
            ddl += '</div>\n';
            ddl += '</div>\n';
            $(ddl).insertAfter('#posts'); 
       });</script>
<script> 
         $('#subscribe').on('click', function() {
                     $.ajax({
                       url:'@Url.Action("Subscribe", "Account")',
                       type:'POST',
                       data: {
                           target: '@Model.NickName'
                       }
                     })
                });
         
</script>
</body>
</html>

