@model WebApp.Models.User;
@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}
@using System.Net
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        #like:hover{
  transform: scale(1.5);
} 

#like{
  cursor: pointer;
}

  html,
body,
.wrapper {
	height: 100%;
}
.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
}
footer {
	height: 80px;
	margin-top: -80px;
}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
    <header>
        <div class="container-fluid">
        <div class="row bg-dark align-items-center">
            <div class="col-md-2 text-center text-white mb-3 mt-4">SOCIAL ME</div>
            <div class="col-md-4 mt-4 mb-3">
                <form asp-action="Search" asp-controller="User" class="d-flex">
                    <input id="request" name="request" type="text" class="form-control" placeholder="Искать здесь...">
                    <button type="submit" class="bth btn-success ml-2">Search</button>
                </form>
            </div>
            <div class="col-md-3 d-flex offset-md-3 mt-3 text-white">
                    <a href="@Url.RouteUrl(new { controller = "Account", action = "IndexByName", username =@User.Identity.Name })" class="btn btn-light mt-2  mb-3 mr-3">HOME</a>                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="btn btn-light mt-2  mb-3 mr-3" type="submit" value="Logout" />
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 350px; background: linear-gradient(#7290d6, #36559c); display: flex; flex-direction: column;">
        <div class="row align-items-center justify-content-center pt-4">
            <div style="width: 200px; height: 200px;">
                <img src="@Url.Content(Model.Path)" class="rounded-circle img-fluid" style="width: 200px; height: 200px; object-fit: cover;">
            </div>
        </div>
        <div style="font-size: 38px; margin-top: -3px;" class="text-white text-center" id="name" class="row align-items-center justify-content-center text-white pt-2">
                    @Model.NickName
                </div>
        <div class="row d-flex flex-column align-items-center justify-content-center">
              @{
                    if (User.Identity.Name != Model.NickName)
                    {
                        <button id="subscribe" class="btn btn-primary small" style="width: 20%;">Subscribe</button>
                    }
              }
              
        </div>
        
    </div>
    <div class="container-fluid" style="background-color: #35558c;">
        <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-2 text-center mt-3 mb-3"><a class="text-white" asp-action="Index" asp-controller="Account" asp-route-id="@Model.Id" >POSTS</a></div>
                        @* <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" href="#">ABOUT</a></div> *@
                        <div class="col-md-2 text-center mt-3 mb-3"><a class="text-white" asp-action="News" asp-controller="Account">NEWS</a></div>
                        <div class="col-md-2 text-center mt-3 mb-3"><a class="text-white" asp-action="Subscribers" asp-controller="Account" asp-route-id="@Model.Id" >SUBSCRIBERS  <a id="subscribersCount" class="text-white">@Model.subscribersQuantity </a> </a></div>
                        <div class="col-md-2 text-center mt-3 mb-3"><a class="text-white" asp-action="Subscriptions" asp-controller="Account" asp-route-id="@Model.Id">SUBSCRIPTIONS <a id="subscriptionsCount" class="text-white">@Model.subscriptionsQuantity</a> </a></div>
                        <div class="col-md-2 text-center mt-3 mb-3"><a class="text-white" asp-action="Photos" asp-controller="Account" asp-route-id="@Model.Id">PHOTOS</a></div>
                    </div>
    </div>
</header>
<div id="posts" style="display: flex; flex-direction: column; justify-content: center; color: black;">
   
</div>
        </div>
    <footer class="page-footer bg-dark font-small blue">
        <div class="text-center text-gray-dark py-3">
            © 2020 Copyright:
        </div>
    </footer>
   </div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $.ajax({
      type:'GET',
      url:'@Url.Action("GetNews", "Account")',
      data:{
          id: @Model.Id
      }     
    })
    .done(function (data){
                let ddl = ' ';
                $.each(data, function(index, element){
                    ddl+=DrawPost(element);
                });
                $(ddl).insertAfter('#posts');            
    });
    });
 var DrawPost = function(data) {
      let ddl = ' ';
      ddl += '<div class="container media border p-3 text-dark">\n';
      ddl +=  '<img src="';
      ddl += data.owner.path + '"';
      ddl += ' class="mr-3 mt-3 rounded-circle" style="width:60px; object-fit: cover; height: 60px;">\n';
      ddl += '<div class="media-body" style="word-break: break-word;">\n';
      ddl += '<h4 class="text-dark">' + data.owner.nickName + '<small><i class="text-dark">' + " " + data.time + " " + '<i id="l' + data.id + '" style="color:#00ee00">' + data.rating + '</i>'+ '         ' + '<i class="fas fa-heart '+ likeUnlike(data.id) +'" data-id="' + data.id + '" id="like" style="font-size: 15px; color: ' + colorLikedUnliked(data.id) + '  ;"> ' +  ' </i>' + '</i></small> </h4>\n';
      ddl += '<p class="text-dark">' + data.text + '</p>\n';  
      //ddl += '<i class="fas fa-heart '+ likeUnlike(data.id) +'" data-id="' + data.id + '" id="like" style="font-size: 25px; color: grey;"> ' +  ' </i>';
      ddl += '</div>\n';
      ddl += '</div>\n';
      return ddl;
    };

var isLiked = function(idPost) {
  return $.ajax({
    url:'@Url.Action("IsLikedByUser", "Account")',
    type:'GET',
    async: false,
    data: {
        userName: '@User.Identity.Name',
        postId: idPost
    }
  });
};

var likeUnlike = function(idPost) {
    let result = '';
    isLiked(idPost).done(function(data) {
        if(data === true) result = "unlike";
        else result = "like";
    });
    return result;
}

var colorLikedUnliked = function(idPost) {
  let result = '';
      isLiked(idPost).done(function(data) {
          if(data === true) result = "red";
          else result = "grey";
      });
      return result;
};

$(document).on('click', '.like', function() {
    
            $.ajax({
              url:'@Url.Action("SwitchLikePost", "Account")',
              type:'GET',
              data: {   
                  userName:'@User.Identity.Name',
                  postId: $(this).data("id")
              }
            });
            let v = document.getElementById("l" + String($(this).data("id")));
            v.innerHTML = String(parseInt(v.innerHTML) + 1);
            $(this).css('color', 'red');
            $(this).removeClass("like");
            $(this).addClass("unlike");
            
    });

         $(document).on('click', '.unlike', function() {
            $.ajax({
              url:'@Url.Action("SwitchLikePost", "Account")',
              type:'GET',
              data: {
                  userName:'@User.Identity.Name',
                  postId: $(this).data("id")
              }
            })
            let v = document.getElementById("l" + String($(this).data("id")));
            v.innerHTML = String(parseInt(v.innerHTML) - 1);
            $(this).css('color', 'gray');
            $(this).removeClass("unlike");
            $(this).addClass("like");
       });

         $('#postdata').on('click', function() {
            $.ajax({
              url:'@Url.Action("SavePost", "Account")',
              type:'POST',
              data: {
                  text: $('#comment').val()
              }
            })
            .done(function (data){
                let ddl = ' ';
                ddl+=DrawPost(data);
                $(ddl).insertAfter('#posts');            
                });
       });

$(document).ready(function(){
    let v = document.getElementById("subscribe");
    v.innerHTML = stringSubscribedUnsubscribed();
    $("#subscribe").addClass(subscribeUnsubscribe());
});

        $(document).on('click', '.subscribe', function() {   
            $.ajax({
              url:'@Url.Action("SwitchSubscription", "Account")',
              type:'GET',
              data: {   
                  target:'@Model.NickName',
              }
            });
            let v =document.getElementById("subscribersCount");
            v.innerHTML = String(parseInt(v.innerHTML) + 1);
            $(this).text("Unsubscribe");
            $(this).removeClass("subscribe");
            $(this).addClass("unsubscribe");
            
    });
        
         $(document).on('click', '.unsubscribe', function() {
            $.ajax({
              url:'@Url.Action("SwitchSubscription", "Account")',
              type:'GET',
              data: {
                  target:'@Model.NickName',
              }
            });
            let v =document.getElementById("subscribersCount");
            v.innerHTML = String(parseInt(v.innerHTML) - 1);
            $(this).text("Subscribe");
            $(this).removeClass("unsubscribe");
            $(this).addClass("subscribe");
       });

var isSubscribed = function() {
  return $.ajax({
    url:'@Url.Action("IsSubscribedOnUser", "Account")',
    type:'GET',
    async: false,
    data: {
        targetId: @Model.Id
    }
  });
};

var subscribeUnsubscribe = function() {
    let result = '';
    isSubscribed().done(function(data) {
        if(data === true) result = "unsubscribe";
        else result = "subscribe";
    });
    return result;
};

var stringSubscribedUnsubscribed = function() {
  let result = '';
      isSubscribed().done(function(data) {
          if(data === true) result = "Unsubscribe";
          else result = "Subscribe";
      });
      return result;
} 
</script>
</body>
</html>

