@model WebApp.Models.User;
@{
    Layout = null;
    ViewData["Title"] = "Photos";
}
@using System.Net
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <!--<link rel="stylesheet" href="~/css/site.css" />-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>

    .img-gallery { overflow: hidden; width: 100%;}
.img-gallery .ramka { float: left; margin-right: 10px; margin-bottom: 10px;}
.img-gallery img, a{ width: 800px; height: 800px; object-fit: cover; }

    html,
body,
.wrapper {
	height: 100%;
}
.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
}
footer {
	height: 80px;
	margin-top: -80px;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>
  <div class="wrapper">
    <div class="content">
<header>
        <div class="container-fluid">
        <div class="row bg-dark align-items-center">
            <div class="col-md-2 text-center text-white mb-3 mt-4">SOCIAL ME</div>
            <div class="col-md-4 mt-4 mb-3">
                <form asp-action="Search" asp-controller="User" class="d-flex">
                    <input id="request" name="request" type="text" class="form-control" placeholder="Искать здесь...">
                    <button type="submit" class="bth btn-success ml-2">Search</button>
                </form>
            </div>
            <div class="col-md-3 d-flex offset-md-3 mt-3 text-white">
                    <a href="@Url.RouteUrl(new { controller = "Account", action = "IndexByName", username =@User.Identity.Name })" class="btn btn-light mt-2  mb-3 mr-3" style="height: 38px; width: 75px;">HOME</a>                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="btn btn-light mt-2  mb-3 mr-3" type="submit" value="Logout" />
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 350px; background: linear-gradient(#7290d6, #36559c); display: flex; flex-direction: column;">
        <div class="row align-items-center justify-content-center pt-4">
            <div style="width: 200px; height: 200px;">
                                <img src="@Url.Content(Model.Path)" class="rounded-circle img-fluid" style="width: 200px; height: 200px; object-fit: cover;">
            </div>
        </div>
        <div class="row d-flex flex-column align-items-center justify-content-center">
              @*@{
                    if (User.Identity.Name != Model.NickName)
                    {
                        <button id="subscribe" class="btn btn-primary small" style="width: 20%;">Subscribe</button>
                    }
              }*@
              @{
                                if (User.Identity.Name == Model.NickName)
                                {
                                    <form asp-action="AddFile" asp-controller="Account" method="post" enctype="multipart/form-data">
                                                 <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="uploadedFile" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                                 </div>
                                                <button id="photo" type="submit" class="btn btn-primary small">Change photo</button>
                                                </form>
                                }
                            }
        </div>
        <div style="font-size: 38px; margin-top: -3px;" class="text-white text-center" id="name" class="row align-items-center justify-content-center text-white pt-2">
            @Model.NickName
        </div>
       
    </div>
    <div class="container-fluid" style="background-color: #35558c;">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-md-2 text-center mt-3 mb-3"><a class="text-white" asp-action="Index" asp-controller="Account" asp-route-id="@Model.Id" >POSTS</a></div>
                            @* <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" href="#">ABOUT</a></div> *@
                            <div class="col-md-2 text-center mt-3 mb-3"><a class="text-white" asp-action="News" asp-controller="Account" asp-route-id="@Model.Id" >NEWS</a></div>
                            <div class="col-md-2 text-center mt-3 mb-3"><a class="text-white" asp-action="Subscribers" asp-controller="Account" asp-route-id="@Model.Id" >SUBSCRIBERS  <a id="subscribersCount" class="text-white">@Model.subscribersQuantity </a> </a></div>
                            <div class="col-md-2 text-center mt-3 mb-3"><a class="text-white" asp-action="Subscriptions" asp-controller="Account" asp-route-id="@Model.Id">SUBSCRIPTIONS <a id="subscriptionsCount" class="text-white">@Model.subscriptionsQuantity</a> </a></div>
                            <div class="col-md-2 text-center mt-3 mb-3"><a class="text-white" asp-action="Photos" asp-controller="Account" asp-route-id="@Model.Id">PHOTOS</a></div>
                        </div>
        </div>
    </div>
</header>

  
  <!-- The slideshow -->
<div class="container ml-7 mt-3 mb-2">
    <div class="img-gallery">
      <div id="photos"></div>

    </div>
</div>
  


<!-- Left and right controls -->
  @{
      if (User.Identity.Name == Model.NickName)
      {
          <div style="background-color: white; display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <form asp-action="AddPhoto" asp-controller="User" method="post" enctype="multipart/form-data">
              <div class="custom-file">
                  <input type="file" class="custom-file-input" name="uploadedFile" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <button id="photo" type="submit" class="btn btn-primary small">Add photo</button>
          </form>
      </div>
  }
}

    </div>
<footer class="page-footer bg-dark font-small blue">
    <div class="text-center text-gray-dark py-3">
        © 2020 Copyright:
    </div>
</footer>
  </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
         $(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
        
         $(document).ready(function() {
                $.ajax({
                      type:'GET',
                      url:'@Url.Action("GetPhotos", "Account")',
                      data:{
                          id: @Model.Id
                      }      
                    }).done(function(data) {
                                                let ddl = ' ';
                                                   $.each(data, function(index, element){
                                                         ddl+= '<div class="ramka">\n';
                                                             ddl+= '<a target="_blank" href="' + element.path + '">';
                                                              ddl+= ' <img src="' + element.path + '" style=" width: 350px; height: 350px; object-fit: cover; border: 0px solid black;">';
                                                             ddl+= ' </a>\n';
                                                          ddl+= '</div>\n';
                                                     });
                                                     $(ddl).insertAfter('#photos'); 
                                                 })
         })
    </script>
</body>
</html>
